body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.container {
  padding: 20px;
}

.messageContainer {
  width: 100%;
  display: flex;
  margin-bottom: 10px;
}

.message {
  max-width: 400px;
  background-color: red;
  color: white;
  padding: 10px;
  border-radius: 8px;
}

.single-user {
  border-bottom: 1px solid gray;
  padding: 10px 0;
  display: flex;
  align-content: center;
  align-items: center;
  cursor: pointer;
}

.user-thumb {
  width: 20px;
  height: 20px;
  background-color: blueviolet;
  border-radius: 50%;
  margin-right: 10px;
}
